{% extends "app.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block page_head %}
  <style type="text/css">
    .mount-error, .mount-success, .encrypted {
      padding: 0px 5px;
    }
    .mount-error {
      color: orange;
    }
    .mount-success {
      color: black;
    }
    .encrypted {
      color: green;
    }
    .inline-block {
      display: inline-block;
    }
  </style>
{% endblock %}

{% block configuration %}

  <a title="{% trans 'Create a new backup' %}"
     role="button" class="btn btn-primary"
     href="{% url 'backups:create' %}">
    <span class="fa fa-plus" aria-hidden="true"></span>
    {% trans 'Create Backup' %}
  </a>

  <a title="{% trans 'Upload and restore a backup archive' %}"
     role="button" class="btn btn-default"
     href="{% url 'backups:upload' %}">
    <span class="fa fa-upload" aria-hidden="true"></span>
    {% trans 'Upload and Restore' %}
  </a>

  <a title="{% trans 'Add a backup location' %}"
     role="button" class="btn btn-default"
     href="{% url 'backups:add-repository' %}">
    <span class="fa fa-plus" aria-hidden="true"></span>
    {% trans 'Add Backup Location' %}
  </a>

  <a title="{% trans 'Add a remote backup location' %}"
     role="button" class="btn btn-default"
     href="{% url 'backups:add-remote-repository' %}">
    <span class="fa fa-plus" aria-hidden="true"></span>
    {% trans 'Add Remote Backup Location' %}
  </a>

  <h3>{% trans 'Existing Backups' %}</h3>

  {% for repository in repositories %}
    {% include "backups_repository.inc" with uuid=repository.uuid %}
  {% endfor %}

{% endblock %}
