{% extends "app.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load bootstrap %}
{% load i18n %}

{% block status %}
  {{ block.super }}

  <h3>{% trans "Server Fingerprints" %}</h3>

  <p>
    {% blocktrans trimmed %}
      When connecting to the server, ensure that the fingerprint shown by the
      SSH client matches one of these fingerprints.
    {% endblocktrans %}
  </p>

  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>{% trans "Algorithm" %}</th>
        <th>{% trans "Fingerprint" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for host_key in host_keys %}
        <tr>
          <td>{{ host_key.algorithm }}</td>
          <td><samp>{{ host_key.fingerprint }}</samp></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
